@model IEnumerable<Dimension_Data_MVC_CORE_Project2.Models.HumanResource>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessTravel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceFromHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumCompaniesWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWorkingYears)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingTimesLastYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsAtCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsInCurrentRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsSinceLastPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsWithCurrManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessTravel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceFromHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumCompaniesWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWorkingYears)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingTimesLastYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsAtCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInCurrentRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsSinceLastPromotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsWithCurrManager)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
